
@font-face {
    font-family: 'Roc Grotesk';
    src: url('./../resourses/fonts/RocGrotesk.woff2') format('woff2'),
        url('./../resourses/fonts/RocGrotesk.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Bebas';
    src:url('./../resourses/fonts/BebasNeueBold.woff2') format('woff2'),
        url('./../resourses/fonts/BebasNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Bebas';
    src:url('./../resourses/fonts/BebasNeueLight.woff2') format('woff2'),
        url('./../resourses/fonts/BebasNeueLight.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src:url('./../resourses/fonts/RobotoMono-Bold.woff2') format('woff2'),
        url('./../resourses/fonts/RobotoMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }