
body {
  position: relative;
  height: 100%;
  color: #fff;
  background-color: #2E2E2E;
  font-family: "Bebas", sans-serif;
  font-size: 1.8em;
  line-height: 1;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  overflow-x: hidden;
}
.noise::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: tvShow .5s linear infinite;
  opacity: 1;
  pointer-events: none;
  z-index: 3;
}
@keyframes tvShow {
  0%{
    background-image: url(./../resourses/img/noise2.png);
    background-size: 25%;
  }
  20%{
    background-image: url(./../resourses/img/noise3.png);
    background-size: 25%;
  }
  40%{
    background-image: url(./../resourses/img/noise4.png);
    background-size: 25%;
  }
  60%{
    background-image: url(./../resourses/img/noise3.png);
    background-size: 25%;
  }
  80%{
    background-image: url(./../resourses/img/noise2.png);
    background-size: 25%;
  }
  100%{
    background-image: url(./../resourses/img/noise4.png);
    background-size: 25%;
  }
}

.container {
  max-width: 1800px;
  padding: 0 30px;
  margin: 0 auto;
  // overflow: hidden;
}

.main {
  position: relative;
  min-height: 100vh;
  
}

.title {
  font-family: 'Roc Grotesk', sans-serif;
  font-size: 11em;
  font-weight: 700;
}

@media(max-width: 1920px) {
  .title {
    font-size: 220px;
  }
}
@media (max-width: 1439px) {
  .title {
    font-size: 14.9vw;
  }
  body {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 25px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
  .main-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)),
   url(./../resourses/img/main/bg.png) bottom/contain no-repeat;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 80px;
  }
 
}
